.jumbotron{
    background-color: black;
}

.jumbotron > h1{
    color: aqua;
}

.jumbotron > p {
    color: #C5C6C7;
}

.nasaPic{
    margin: auto;
    width: 50%;
    display: block;
}

/* About Me */
img {
    border-radius: 8px;
    width: 400px;
}

.media-body{
    color: #C5C6C7;
    width: 50px;
}

.nonProfitInfo {
    padding-left: 10px;
}


/* Contact */
.jumbotron #ajaxResponse{
    color: red;
    padding-bottom: 30px;
}

.jumbotron #contact-form{
    color: #C5C6C7;
}

/* Blog */
.jumbotron #ajaxResponse{
    color: red;
    padding-bottom: 30px;
}

.jumbotron #blog-form{
    color: #C5C6C7;
}

